<div ng-app="friendApp">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

          <h1 id="logo">Decibel</h1>

        <ul class="nav navbar-nav">
            <li><a href="/posts">See All Posts</a></li>
            <li><a href="/profile">Your Profile</a></li>
        </ul>

    </div>
</nav>
