<head>
  <% include ./partials/head %>
</head>

<body>
  <header>
    <% include ./partials/header %>
  </header>

  <body ng-app="friendApp">

    <div ng-controller="MainCtrl">
    <button ng-click = "show_form = !show_form" ng-hide="show_form == true">Post about a show you're attending!</button>
    <div ng-show="show_form">
    <form ng-submit="addPost()">
      Artist: <input type="text" ng-model="artist"></input><br/>
      City/State: <input type="text" ng-model="location"></input><br/>
      Date of the Show:<input type="date" ng-model="show_date"></input>
      Your Message:<input type="text" ng-model="body"></input>
      <button type="submit" ng-click="show_form = false">Submit!</button>
      <button type="button" ng-click="show_form = false">Nevermind</button>
    </form>
    </div>

    <% include ./partials/posts %>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
