<head>
  <% include ./partials/head %>
</head>

<body ng-app="friendApp">

  <header>
    <% include ./partials/header %>
  </header>

  <div class="container">
    <div class="page-header text-center">
      <h1>See who's going to a local show, <%= user.local.username %></h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  </div>


  <div class="col-sm-6">
    <% if (user.facebook.token) { %>
      <div ng-controller="MainCtrl">
        <button ng-click = "show_form = !show_form" ng-hide="show_form == true">Post about a show you're attending!</button>
        <div ng-show="show_form">
          <form ng-submit="addPost()">
            Artist: <input type="text" ng-model="artist" value="artist"></input><br/>
            City/State: <input type="text" ng-model="location" value="location"></input><br/>
            Date of the Show:<input type="date" ng-model="show_date" value="show_date"></input>
            Your Message:<input type="text" ng-model="body" value="body"></input>
            <button type="submit" ng-click="show_form = false">Submit!</button>
            <button type="button" ng-click="show_form = false">Nevermind</button>
          </form>
        </div>

        <div ng-repeat="post in posts track by $index | orderBy: '-attendees'" ng-controller="MainCtrl">
          Attending: {{post.attendees}}
          {{post.artist}}<br/>
          {{post.location}}<br/>
          {{post.show_date}}<br/>
          {{post.body}}<br/>
          {{post.author}}<br/>
          <img src="{{post.icon}}">
          <br/>
          <div ng-hide="going == true">
            <button type="button" ng-click="incrementAttendance(post)">I'm going!</span>
            </div>
            <div ng-repeat="comment in post.comments | orderBy: '-created_at'">
                    {{comment.body}}<br/>
                    {{comment.author}}<br/>
                    <img src="{{comment.pic}}">"

                  </div>
                    <button type="button" ng-click = "comments_form = !comments_form" ng-hide="comments_form == true">Let them know you're going!</button>
                    <br/>
                    <form ng-submit="addComment()" ng-show="comments_form == true">
                      <input type="text" class="form-control" placeholder="Comment" ng-model="body">
                      <br/>
                      <button type="submit" class="btn btn-primary" ng-click="comments_form = false">Post</button>
                      <button type="button" class="btn btn-primary" ng-click="comments_form = false">Cancel</button>
                    </form>
                  </div>


                    </div>
                </div>


              </div>

              <a href="/unlink/facebook" class="btn btn-primary">Log Out of Facebook</a><br/>
              (You will not be able to access posts or comments without your Facebook login.)
              <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Your Facebook Account to Get Started</a>
              <% } %>
        <footer>
          <% include ./partials/footer %>
        </footer>
  </body>

</html>
